<configuration>
  <appSettings>
    <add key="virtualDirPath" value="/nodesrvc"/>
    <!--<add key="MongoDB" value="mongodb://stagerw:c7d0Ks!@c03idmbi13.dslab.ad.adp.com/test"/>-->
    <add key="MongoDB" value="mongodb://localhost:27017/hackthon"/>
    </appSettings>
  <system.webServer>
    <!-- indicates that the hello.js file is a node.js application 
    to be handled by the iisnode module -->
    <handlers>
      <add name="iisnode" path="*index.js" verb="*.js" modules="iisnode" />
    </handlers>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <rewrite>
      <rules>
        <rule name="LogFile" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^[a-zA-Z0-9_\-]+\.js\.logs\/\d+\.txt$"/>
        </rule>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^index.js\/debug[\/]?" />
        </rule>
        <rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}"/>
        </rule>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
          </conditions>
          <action type="Rewrite" url="index.js"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <system.web>
    <sessionState mode="Off" />
  </system.web>
</configuration>